/* Agor@phon CSS sheet */

:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #2980b9 !important;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #4a235a !important;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #17202a;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

a.bl {
  color: #2980b9 !important;
}

a.bl:hover {
  color: #a569bd !important;
}

.bg-gradient-primary {
  background: #17202a;
}

.btn {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  color: #fff !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  font-size: 0.8rem !important;
}

.btn-primary {
  background: #2980b9 !important;
  border: none;
}

.btn-secondary {
  background: #2980b9;
  border: 1px solid #2980b9;
}

.btn-secondary:hover {
  background: transparent !important;
  border: 1px solid #2980b9;
  color: #2980b9 !important;
}

.tertiary {
  background: #633974 !important;
  border: none;
}

.btn-primary:hover, .tertiary:hover {
  background: #154360 !important;
}

.simple {
  border: none;
  background: transparent !important;
  font-family: 'Amatic SC', cursive;
}

.text-primary {
  color: #17202a !important;
  border: none;
}

.text-secondary {
  color: #2980b9 !important;
}

.text-sm {
  font-size: 0.8rem !important;
  font-weight: 300 !important;
}

.text-m {
  font-size: 1.3rem;
  font-weight: 300;
}

.text-b {
  font-family: 'Amatic SC', cursive;
  font-size: 1.6rem;
  color: #17202a;
}

.text-dark {
  color: #17202a;
}

.highlights-big {
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  color: #17202a;
}

.highlights-md {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  color: #2980b9;
}

.search_process {
  min-width: 85%;
  padding-right: 3%;
  padding-left: 0.5%;
}

#content-wrapper {
  background: #eaecee !important;
}

#home-content-wrapper {
  background: #eaecee;
  max-height: 100% !important;
  text-align: center;
}

#home-content {
  padding-top: 5rem;
  padding-bottom: 20%;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}

.sidebar-brand-text {
  font-family: 'Amatic SC', cursive;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #2980b9;
}

.light {
  background-color: #fff;
}

.wait {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100% !important;
  min-width: 100% !important;
  color: #fff;
  font-size: 0.9rem;
  background-color: #17202a;
  opacity: 0.8;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 1000;
}

.bg-highlight-b {
  background-color: #2980b9;
  color: #fff;
}

.bg-highlight-d {
  background-color: #5d6d7e;
  color: #fff;
}
