<!-- Agor@phon nlp_dashboard.html -->

{% extends 'layout.html' %}

{% block content %}

  <!-- Page Wrapper -->
  <div id="wrapper">

    {% include 'sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% include 'topbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Topic Title -->
          <div class="highlights-md mb-0 mt-3">Topic</div>
          <h1 class="h4 mb-5">{{ topic }}</h1>

           <!-- Content Row -->
          <div class="row mt-3">

              <div class="col-md-12 mb-3">
                <div class="card h-100 py-1">
                    <div class="card-body">
                        <div class="text-md text-primary text-uppercase mb-3">Entités nommées</div>
                   {% for key, var in ner[:10].iterrows() %}
                    {% include 'progress_bar.html' %}
                   {% endfor %}

                <p class="text-center mt-5">
                  <button class="btn btn-sm btn-primary text-uppercase" type="button" data-toggle="collapse" data-target="#ner" aria-expanded="false" aria-controls="collapseExample">
                    Entités nommées (suite)
                  </button>
                    </p>
                  <div class="collapse" id="ner">
                  <div class="card card-body pb-1">
                   {% for key, var in ner[11:200].iterrows() %}
                    {% include 'progress_bar.html' %}
                   {% endfor %}
                  </div>
                </div>

                    </div>
                </div>
              </div>

          </div>

         <!-- Content Row -->
          <div class="row mt-3">

              <div class="col-md-12 mb-3">
                <div class="card h-100 py-1">
                    <div class="card-body">
                        <div class="text-md text-primary text-uppercase mb-3">Noms</div>
                   {% for key, var in nouns[:10].iterrows() %}
                    {% include 'progress_bar.html' %}
                   {% endfor %}

                <p class="text-center mt-5">
                  <button class="btn btn-sm btn-primary text-uppercase" type="button" data-toggle="collapse" data-target="#nouns" aria-expanded="false" aria-controls="collapseExample">
                    Noms (suite)
                  </button>
                    </p>
                  <div class="collapse" id="nouns">
                  <div class="card card-body pb-1">
                   {% for key, var in nouns[11:200].iterrows() %}
                    {% include 'progress_bar.html' %}
                   {% endfor %}
                  </div>
                </div>
                    </div>
                </div>
              </div>

          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

{% endblock %}