<!-- Agor@phon post_sample.html -->

         {% if post['_source']['post'] %}
          <div class="row mt-3">

           <!-- Post -->
            <div class="col-md-12 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                  <div class="text-md text-primary text-uppercase mb-1">{{ post['_source']['date'].replace('T', ' à ') }}</div>
                  <p>{{ post['_source']['post'] }}</p>
                </div>
              </div>
            </div>

          </div>
          {% endif %}
          <!-- End of Row -->

          {% if post['_source']['quotes'] %}
          <div class="row mt-3">

           <!-- Quote -->
            <div class="col-md-12 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                  <div class="text-md text-primary text-uppercase mb-1">{{ post['_source']['date'].replace('T', ' à ') }}</div>
                    <p><b>Citation(s)</b></p>
                  <ul class="list-unstyled">
                    {% for quote in post['_source']['quotes'] %}
                    <li>{{ quote }}</li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
          {% endif %}
          <!-- End of Row -->