<!-- Agor@phon topic_menu.html -->

{% extends 'layout.html' %}

{% block content %}

  <!-- Page Wrapper -->
  <div id="wrapper">

    {% include 'sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% include 'topbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <p class="text-m"><span class="d-inline-block mr-3 highlights-md">Recherche :</span>"{{ ref }}"</p>

          <hr class="mb-5">

          {% for data in dataset %}

           <!-- Content Row -->
          <div class="row mt-3">

          <div class="col-md-10">
          <h1 class="h5 mb-3 text-primary">{{ data['_source']['topic'] }}</h1>
          </div>

           {% if data['_source']['indexed']|int() >= data['_source']['post_count']|int() %}
          <div class="col-md-2">
            <form class="analytics_process" action="/analytics">
            <button name="ref" value="{{ data['_source']['ref'] }}" type="submit" class="d-sm-inline-block btn btn-sm btn-primary">
              <i class="far fa-chart-bar fa-lg text-white-50 mr-1"></i>Analyser</button>
            </form>
          </div>
            {% elif 0 < data['_source']['post_count']|int() <= 200 %}
          <div class="col-md-2">
            <form class="grab_process" action="/posts">
            <button name="ref" value="{{ data['_source']['ref'] }}" type="submit" class="d-sm-inline-block btn btn-sm tertiary">
              <i class="fas fa-cloud-download-alt fa-lg text-white-50 mr-1"></i>Collecter</button>
            </form>
          </div>
            {% endif %}

          </div>
          <!-- End of Row -->

          <!-- Content Row -->
          <div class="row mt-3">

            <!-- Last post -->
            <div class="col-md-6 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                      <div class="text-md text-primary text-uppercase mb-1">Dernier post</div>
                      <div class="h5 mb-0 mr-3">{{ data['_source']['last_msg_date'].replace('T', ' à ') }}</div>
                </div>
              </div>
            </div>

            {% if data['_source']['post_count']|int() > data['_source']['indexed']|int() %}
            <!-- Posts count -->
            <div class="col-md-6 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                      <div class="text-md text-primary text-uppercase mb-1">Total posts</div>
                      <div class="h5 mb-0 text-gray-800">{{ data['_source']['post_count'] }}</div>
                </div>
              </div>
            </div>
            {% else %}
            <!-- Indexed posts -->
            <div class="col-md-6 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                      <div class="text-md text-primary text-uppercase mb-1">Posts indexés</div>
                      <div class="h5 mb-0 text-gray-800">{{ data['_source']['indexed'] }}</div>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
          {% endfor %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

{% endblock %}